{{!-- Inserting of the header --}}
	{{> header }}
{{!-- End of the header insert --}}

{{!-- ---------------------------------------------------------------------- --}}
{{!-- Panel Container for Pins --}}
<div id="pinContainer" class="card-columns">
    {{!-- Panel/Card for one pin --}}
    {{#each pins}}
        <div id="pin" class="card {{this.id}}">
            <div class="card-body">
                <a href="#" class="viewPin" data-toggle="modal" data-target="#view{{this.id}}"><h5 class="card-title"><span class="pr-3">{{this.title}}</span><i class="fas fa-eye fa-sm"></i></h5></a>
                <h6 class="card-subtitle mb-2 text-muted">{{this.description}}</h6>
                <div class="card-text">
                    <pre><code>{{this.content}}</code></pre>
                </div>
                <div class="card-footer">
                    <p class="card-language float-left">{{this.language}}</p>
                    <a href="#" class="card-link float-right editPinModal" data-toggle="modal" data-target="#edit{{this.id}}"><i class="far fa-edit fa-lg"></i><span class="pl-2">edit</span></a>
                </div>
            </div>
        <div class="clearfix"></div>
        </div>
    {{/each}}
</div>

{{!-- edit modal needs to go up here, above the add modal --}}
{{#each pins}}
<div class="modal fade" id="edit{{this.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                    <form id="editForm" data-type="{{this.id}}">
                        {{!-- row 1 --}}
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    {{!-- <label for="name">Name</label> --}}
                                    <input type="text" class="form-control" id="title" placeholder="{{this.title}}" value="{{this.title}}" required>
                                </div>      
                            </div>
                        </div>
                        {{!-- row 2 --}}
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="form-group">
                                    {{!--<label for="description">Description</label> --}}
                                    <textarea class="form-control" id="description" rows="3" placeholder="{{this.description}}" value="{{this.description}}"required></textarea>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="language">Language</label>
                                    <select class="form-control" id="language" required>
                                        <option value="" selected disabled>Language</option>
                                        <option value="html">HTML</option>
                                        <option value="css">CSS</option>
                                        <option value="javascript">JavaScript</option>
                                        <option value="python">Python</option>
                                        <option value="php">PHP</option>
                                        <option value="server">Server-side</option>
                                        <option value="database">Database</option>                                        
                                    </select>
                                </div>
                            </div>
                        </div>
                        {{!-- row 3 --}}
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    {{!-- <label for="snippet">Code Snippet</label> --}}
                                    <textarea class="form-control" id="content" rows="4" placeholder="{{this.content}}" value="{{this.content}}" required></textarea>
                                </div>  
                            </div>
                        </div>
                        {{!-- row 4 --}}
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <input class="form-control" id="link" rows="2" placeholder="{{this.link}}" value="{{this.link}}" required>
                                </div>
                            </div>
                        </div>
                        {{!-- row 5 users --}}
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <input class="form-control" id="user-id" rows="2" placeholder="user id" required>
                                </div>
                            </div>
                        </div>
                            {{!-- modal footer --}}
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" id="editButton" class="btn btn-primary">Save changes</button>
                                <div class="float-left" id="post-message"></div>
                            </div>
                        {{!-- <div class="modal-footer" style="border-top: none">
                            <button type="submit" class="btn btn-primary float-right" id="submit">Add</button>
                            <div class="float-left" id="post-message"></div>
                        </div> --}}
                    </form>
                </div>
            {{this.title}}
        </div>
      
        </div>
    </div>
</div>
{{/each}}

{{!-- Add pin modal --}}
<div class="modal fade" id="newPinModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            {{!-- modal header --}}
            <div class="modal-header">
                <h4 class="modal-title text-center font-weight-bold" id="exampleModalLongTitle">Create Pin</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            {{!-- modal body --}}
            <div class="modal-body">          
                <div class="container-fluid">
                    <form id="newForm">
                        {{!-- row 1 --}}
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    {{!-- <label for="name">Name</label> --}}
                                    <input type="text" class="form-control" id="title" placeholder="Title" required>
                                </div>      
                            </div>
                        </div>
                        {{!-- row 2 --}}
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="form-group">
                                    {{!--<label for="description">Description</label> --}}
                                    <textarea class="form-control" id="description" rows="3" placeholder="Description" required></textarea>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="language">Language</label>
                                    <select class="form-control" id="language" required>
                                        <option value="" selected disabled>Language</option>
                                        <option value="html">HTML</option>
                                        <option value="css">CSS</option>
                                        <option value="javascript">JavaScript</option>
                                        <option value="python">Python</option>
                                        <option value="php">PHP</option>
                                        <option value="server">Server-side</option>
                                        <option value="database">Database</option>                                        
                                    </select>
                                </div>
                            </div>
                        </div>
                        {{!-- row 3 --}}
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    {{!-- <label for="snippet">Code Snippet</label> --}}
                                    <textarea class="form-control" id="content" rows="4" placeholder="Code Snippet" required></textarea>
                                </div>  
                            </div>
                        </div>
                        {{!-- row 4 --}}
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <input class="form-control" id="link" rows="2" placeholder="website" required>
                                </div>
                            </div>
                        </div>
                        {{!-- row 5 users --}}
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <input class="form-control" id="user-id" rows="2" placeholder="user id" required>
                                </div>
                            </div>
                        </div>
                            {{!-- modal footer --}}
                        <div class="modal-footer" style="border-top: none">
                            <div class="col-sm-12 col-md-6" id="post-message"></div>
                            <div class="col-sm-12 col-md-6 float-right pr-0">
                                <button type="submit" class="btn btn-primary float-right" id="submit">Add</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- ---------------------------------------------------------------------- --}}
{{!-- View modal --}}
{{#each pins}}
    <div class="modal fade viewPin" id="view{{this.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <a href="{{this.link}}" target="_blank"><h4 class="modal-title font-weight-bold" id="exampleModalLabel">{{this.title}}</h4></a>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>{{this.description}}</p>
                <pre><code>{{this.content}}</code></pre>
                <p class="font-weight-bold">Language: {{this.language}}</p>
                <p><a href="{{this.link}}" target="_blank">{{this.link}}</a></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary float-left" id="addPin" data-toggle="modal" data-target="#edit{{this.id}}"><i class="far fa-edit fa-lg"></i><span class="pl-2">edit</span></button>
                <button type="button" class="btn btn-secondary float-right" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
    </div>
{{/each}}
{{!-- End view pin modal --}} 