{{!-- Logo & Navigation Container --}}
<header id="pinContainer">
    <nav class="navbar sticky-top navbar-light">
        <div class="d-flex justify-content-start">
            <a class="navbar-brand" href="#"><img src="../assets/images/logo_codePin.svg" /></a>
        </div>

        <div class="d-flex justify-content-end">
            <div class="p-2">
                <span class="navHide"><p class="pt-1 pb-1"><i class="fas fa-user-circle fa-lg"></i><span class="pl-2 member-name"></span></p></span>
                <span class="navShow"><p><i class="fas fa-user-circle fa-lg"></i></p></span>
            </div>
            <div class="p-2">
                <span class="navHide"><p class="pt-1 pb-1"><a href="logout"><i class="fas fa-power-off fa-lg"></i><span class="pl-2">Logout</span></a></p></span>
                <span class="navShow"><p><a href="logout"><i class="fas fa-power-off fa-lg"></i></a></p></span>
            </div>
            <div class="p-2">
                <span class="navHide"><button type="button" class="btn btn-primary" id="addPin" data-toggle="modal" data-target="#newPinModal"><i class="fas fa-plus-circle fa-lg"></i> Add Pin</button></span>
                <span class="navShow"><button type="button" class="btn btn-primary" id="addPin" data-toggle="modal" data-target="#newPinModal"><i class="fas fa-plus-circle fa-lg"></i></button></span>
            </div>
        </div>
    </nav>
</header>
{{!-- End header/navigation --}}

{{!-- ---------------------------------------------------------------------- --}}
{{!-- Panel Container for Pins --}}
<div id="pinContainer" class="card-columns">
    {{!-- Panel/Card for one pin --}}
    {{#each pins}}
        <div id="pin" class="card">
            <div class="card-body">
                <a href="#" class="viewPin" data-toggle="modal" data-target="#view{{this.id}}"><h5 class="card-title">{{this.title}}<i class="fas fa-eye fa-sm"></i></h5></a>
                <h6 class="card-subtitle mb-2 text-muted">{{this.description}}</h6>
                <div class="card-text">
                    <p>{{this.content}}</p>
                </div>
                <p class="card-language float-left">{{this.language}}</p>
                <a href="#" class="card-link float-right editPinModal" data-toggle="modal" data-target="#edit{{this.id}}"><i class="far fa-edit fa-lg"></i><span class="pl-2">edit</span></a>
                <div class="clearfix"></div>
            </div>
        </div>
    {{/each}}
</div>
{{!-- End of pin container --}}

{{!-- ---------------------------------------------------------------------- --}}
{{!-- Edit pin modal --}}
{{#each pins}}
<div class="modal fade editPinModal" id="edit{{this.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            {{!-- modal header --}}
            <div class="modal-header">
                <h4 class="modal-title text-center font-weight-bold" id="exampleModalLongTitle">Edit Pin</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            {{!-- modal body --}}
            <div class="modal-body">          
                <div class="container-fluid">
                    <form>
                        {{!-- row 1 --}}
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    {{!-- <label for="name">Name</label> --}}
                                    <input type="text" class="form-control" id="title" placeholder="Title" value="{{this.title}}" required>
                                </div>      
                            </div>
                        </div>
                        {{!-- row 2 --}}
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="form-group">
                                    {{!--<label for="description">Description</label> --}}
                                    <textarea class="form-control" id="description" rows="3" placeholder="Description" value="{{this.description}}" required></textarea>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="language">Language</label>
                                    <select class="form-control" id="language" value="{{this.language}}" required>
                                        <option value="" selected disabled>Language</option>
                                        <option value="html">HTML</option>
                                        <option value="css">CSS</option>
                                        <option value="javascript">JavaScript</option>
                                        <option value="python">Python</option>
                                        <option value="php">PHP</option>
                                        <option value="server">Server-side</option>
                                        <option value="database">Database</option>                                        
                                    </select>
                                </div>
                            </div>
                        </div>
                        {{!-- row 3 --}}
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    {{!-- <label for="snippet">Code Snippet</label> --}}
                                    <textarea class="form-control" id="content" rows="4" placeholder="Code Snippet" value="{{this.content}}" required></textarea>
                                </div>  
                            </div>
                        </div>
                        {{!-- row 4 --}}
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <input class="form-control" id="link" rows="2" placeholder="website" value="{{this.link}}" required>
                                </div>
                            </div>
                        </div>
                        {{!-- modal footer --}}
                        <div class="modal-footer" style="border-top: none">
                            <div class="float-left" id="post-message"></div>
                            <button type="submit" class="btn btn-primary float-right" id="submit">edit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{{/each}}
{{!-- end of edit pin modal --}}

{{!-- ---------------------------------------------------------------------- --}}
{{!-- Add pin modal --}}
<div class="modal fade" id="newPinModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            {{!-- modal header --}}
            <div class="modal-header">
                <h4 class="modal-title text-center font-weight-bold" id="exampleModalLongTitle">Create Pin</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            {{!-- modal body --}}
            <div class="modal-body">          
                <div class="container-fluid">
                    <form>
                        {{!-- row 1 --}}
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    {{!-- <label for="name">Name</label> --}}
                                    <input type="text" class="form-control" id="title" placeholder="Title" required>
                                </div>      
                            </div>
                        </div>
                        {{!-- row 2 --}}
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="form-group">
                                    {{!--<label for="description">Description</label> --}}
                                    <textarea class="form-control" id="description" rows="3" placeholder="Description" required></textarea>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="language">Language</label>
                                    <select class="form-control" id="language" required>
                                        <option value="" selected disabled>Language</option>
                                        <option value="html">HTML</option>
                                        <option value="css">CSS</option>
                                        <option value="javascript">JavaScript</option>
                                        <option value="python">Python</option>
                                        <option value="php">PHP</option>
                                        <option value="server">Server-side</option>
                                        <option value="database">Database</option>                                        
                                    </select>
                                </div>
                            </div>
                        </div>
                        {{!-- row 3 --}}
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    {{!-- <label for="snippet">Code Snippet</label> --}}
                                    <textarea class="form-control" id="content" rows="4" placeholder="Code Snippet" required></textarea>
                                </div>  
                            </div>
                        </div>
                        {{!-- row 4 --}}
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <input class="form-control" id="link" rows="2" placeholder="website" required>
                                </div>
                            </div>
                        </div>
                        {{!-- row 5 users --}}
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <input class="form-control" id="user-id" rows="2" placeholder="user id" required>
                                </div>
                            </div>
                        </div>
                            {{!-- modal footer --}}
                        <div class="modal-footer" style="border-top: none">
                            <div class="float-left" id="post-message"></div>
                            <button type="submit" class="btn btn-primary float-right" id="submit">add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{{!-- End add pin modal --}}

{{!-- ---------------------------------------------------------------------- --}}
{{!-- View pin modal --}}
{{#each pins}}
<div class="modal fade viewPin" id="view{{this.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{this.title}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            {{this.description}}<br />
            {{this.content}}<br />
            {{this.language}}<br />
            {{this.link}}
            <a class="card-link float-right editPinModal" data-toggle="modal" data-target="#edit{{this.id}}"><i class="far fa-edit fa-lg"></i><span class="pl-2">edit</span></a>
        </div>
        
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>
{{/each}}
{{!-- End view pin modal --}}